li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  p {
    margin: 0 10px;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 10px;
    margin: auto;
    padding: 15px 25px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4c72af;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #224761}

  .buttonView{
    display:flex;
    flex-direction: 'row';
    justify-content: 'space-between';
  }
